[Desktop Entry]
Type=Application
Exec=logitech-c922.sh
Hidden=false
NoDisplay=false
Icon=camera
X-GNOME-Autostart-enabled=true
Name[en_CA]=logitech-c922-settings
Name=logitech-c922-settings
Comment[en_CA]=
Comment=
